* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-image: url(lines.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /*background-color: #161623; */
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
}

.container .card {
    position: relative;
    width: 200px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.container .card .content {
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}

.container .card:hover .content {
    transform: translateY(0px);
    opacity: 1;
}

.container .card .content h2 {
    position: absolute;
    top: -80px;
    right: 30px;
    font-size: 8cm;
    color: rgba(255, 255, 255, 0.08);
    pointer-events: none;
}

.container .card .content h3 {
    font-size: 0.8cm;
    color: white;
    z-index: 1;
}

.container .card .content p {
    font-size: 1em;
    color: white;
    font-weight: 300;
}

.container .card .content a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background-color: white;
    color: black;
    text-decoration: none;
    border-radius: 20px;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

header {
    justify-content: center;
    position: absolute;
}

header p {
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    margin-top: 10%;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.75);
    font-family: 'Special Elite', monospace;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}

.typing-animation {
    animation: blinkCursor 800ms steps(40) infinite normal, 
    typing 4s steps(40) 1s normal both;  
}

@keyframes typing{
    from{
        width: 0;
    }
    to{

        width: 518.83px;
    }
}

@keyframes blinkCursor{
    from{
        border-right-color: rgba(255, 255, 255, 0.75);
    }
    to{
        border-right-color: transparent;
    }
}

header span {
    font-weight: 600;
    color: rgba(0, 179, 255, 0.75);;
}

header b {
    font-weight: 600;
    color: rgba(255, 242, 0, 0.75);;
}

@media (max-width: 772px) {
    .container {
        margin-top: 100px;
    }
}

@media (max-width: 460px) {
    header p {
        display: none;
    }
}